.class {
  width: 80vw;
  height: 100vh;

  font-size: 21px;
  z-index: 2000;
}
.class-student {
  border: 1px solid #000;
  padding: 7px;
  border-radius: 10px;
  margin: 10px;

  font-size: 15px;
}

.students-list {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  min-height: 100px;
  align-items: center;
}

.leggtil-elev button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #180a0a;
  color: white;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
}

.class-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.class-header a {
  border-style: none;
  /* background-color: #180a0a; */
  padding: 7px;
  border-radius: 10px;
  /* text-decoration: none; */
  /* color: #fff; */
  color: #180a0a;
}

.class-main {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.class-group-box {
  width: 100%;
  min-height: 100px;
  border-radius: 10px;
  /* background-color: #b8b4b4; */
  background-color: #dfba58;
  color: #180a0a;
  padding: 10px;
  margin: 15px;
  -webkit-box-shadow: 10px 6px 13px -9px #000000;
  box-shadow: 5px 6px 15px -5px #000000;
}

.class-project-title {
  color: #180a0a;
  font-size: 30px;
  font-weight: bold;
}

.class-groups {
  /* background-color: #dfba58; */
  border-top: 0.5px solid #000;
  padding-top: 10px;
  margin-top: 10px;
  background-color: #180a0a;
  color: #fff;
  padding: 5px;
  border-radius: 10px;
}

.recent-project {
  position: relative;
  width: 30%;
}

.class-week-number {
  font-size: 15px;
  color: Black;
  font-weight: 100;
  position: absolute;
  /* top: -20px; */
  /* left: 20px; */
  bottom: -20px;
  padding-bottom: 10px;
}

.recent-project-header {
  position: absolute;
  top: -80px;
  left: 20px;
  text-align: left;
}

.class-header a {
  border-style: none;
  padding: 7px;
  border-radius: 10px;
  /* color: #fff; */
  color: #fff;
  text-decoration: none;
  background-color: #180a0a;
}

.class-project-title {
  text-align: left;
}
