.groups-page {
  width: 80vw;
  height: 100vh;

  font-size: 21px;
}

.groups-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
}

.group-box {
  width: 40%;
  min-height: 100px;
  border-radius: 10px;
  background-color: #180a0a;
  /* background-color: red; */
  color: #fff;
  padding: 10px;
  margin: 15px;
  -webkit-box-shadow: 5px 6px 13px -9px #000000;
  box-shadow: 5px 6px 13px -9px #000000;
}

.class-groups {
  background-color: #dfba58;
  color: #180a0a;
  padding: 5px;
  border-radius: 10px;
}

.class-group-title {
  color: #180a0a;
  padding: 5px;
  font-weight: bold;
  font-size: 25px;
}

.class-group {
  padding-bottom: 10px;
}

.project-title {
  text-align: left;
  color: #dfba58;
  font-weight: bold;
  font-size: 30px;
}

.hidden {
  display: none;
}

.class-group-header {
  position: relative;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 100%;
}

.class-group-members {
  display: flex;
  flex-wrap: wrap;
  font-size: 21px;
  justify-content: flex-start;
  align-items: center;
}

.class-group-member {
  margin: 5px;
  border-radius: 10px;
  border: 1px solid #000;
  padding: 5px;
}

.project-header-toggle {
  background-color: red;
  cursor: pointer;
}

.week-number {
  font-size: 15px;
  color: #fff;
  font-weight: 100;
  position: absolute;
  /* top: -20px; */
  /* left: 20px; */
  bottom: -20px;
  padding-bottom: 10px;
}

.hidden {
  display: none;
}

.group-page-header {
  text-decoration: none;
  font-size: 30px;
  /* margin: 100px 0px 30px 0px; */
}
