.groups {
  width: 80vw;
  height: 100vh;

  font-size: 21px;
}

.groups-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
}

.group-box {
  width: 35%;
  min-height: auto;
  border-radius: 10px;
  background-color: #180a0a;
  color: #fff;
  padding: 20px;
  margin: 20px;

  -webkit-box-shadow: 5px 6px 13px -9px #000000;
  box-shadow: 5px 6px 13px -9px #000000;
}

.class-groups {
  background-color: #dfba58;
  color: #180a0a;
  padding: 10px;
  border-radius: 10px;
}

.class-group-title {
  color: #180a0a;
  padding: 10px;
  font-weight: bold;
  font-size: 25px;
}

.class-group {
  padding-bottom: 10px;
}

.project-title {
  color: #dfba58;
  font-weight: bold;
  font-size: 28px;
}

.hidden {
  display: none;
}

.class-group-header {
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 100%;
}

.class-group-members {
  display: flex;
  flex-wrap: wrap;
  font-size: 25px;
  justify-content: flex-start;
  align-items: center;
}

.class-group-member {
  margin: 10px;
  border-radius: 10px;
  border: 1px solid #000;
  padding: 10px;
}

.project-header-toggle {
  background-color: red;
  cursor: pointer;
}
