.container-page {
  font-size: 21px;
  position: relative;
  /* max-width: 1200px; */
  margin: auto auto;
  padding: 15 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  /* background-color: #81a592; */
  padding: 20px;
  border-radius: 15px;

  /* background: rgb(223, 245, 233);
  background: linear-gradient(
    90deg,
    rgba(129, 165, 146, 1) 0%,
    rgba(0, 201, 201, 1) 100%
  ); */

  -webkit-box-shadow: 0px 1px 15px -5px #000000;
  box-shadow: 0px 1px 15px -5px #000000;
}

.logo-login img {
  width: 200px;
}

.info {
  text-align: center;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;

  border-style: none;
  text-decoration: none;
  background-color: #fff;
  border-radius: 50px;
  padding: 14px;
  margin: 10px;
  cursor: pointer;
  color: #fff;
  width: 300px;
  background-color: rgb(45, 41, 41);
}

.link-outline {
  border: 1px solid rgb(45, 41, 41);
  color: #fff;
  background-color: transparent;
  color: rgb(45, 41, 41);
}

.link-prev {
  border-style: none;
  outline: none;
  text-decoration: none;
  background-color: #dfba58;
  opacity: 1;
  border-radius: 10px;
  color: #000000;
  padding: 5px;
  font-size: 15px;
}

.home-header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin-bottom: 50px;
}

.btn-link {
  padding: 14px;
  font-size: 21px;
}

.container-page input,
.container-page input::-webkit-input-placeholder {
  color: #180a0a;
  font-size: 20px;
}

.container-page input::-webkit-input-placeholder {
  opacity: 0.5;
}
